<!DOCTYPE css>
h1{
         font-style: italic;
         text-align: center;
         font-family: "Arial", sans-serif;
         color: red;
         font-weight: bold;
      }
       h2{
          font-style: italic;
          color: red;
      }
        body{
          background-image: url("http://bh-s2.azureedge.net/bh-uploads/2015/11/The-Hunger-Games.jpg");
          
      }
        li{
          list-style-type: square;
          color: red;
      }
