/*Css for all 3 pages*/
{
         height: 100%;
         max-width: 58.0em;
         margin: auto;
}

body
{
         padding: 1.00em;
         padding-top: 0;
         font-family: 'Arial', sans-serif;
         font-size: 1em;
}

header
{
         padding: 0.01em;
         font-family: 'Arial', sans-serif;
         text-align: center;
         letter-spacing: 0.1em;
}

nav{
         width: 100%;
         top: 0;
         left: 0;
}

main
{
         padding: 1.5em;
         padding-top: 2em;
         padding-bottom: 1em;
}
.nav
{
         margin-left: 0;
         padding-bottom: 0;
}
.nav li
{
         float: left;
         width: 25%;
         list-style-type: none;
         padding-bottom: 0;
}
.nav a
{
         display: block;
         text-align: center;
         line-height: 1;
         border-bottom: 0;
}
 li
{
          list-style-type: square;
}

.home h1{
          font-style: italic;
      }
       .home body{
          background-image: url("dolphin-kristian-sekulic-isp.jpg");
          background-repeat: no-repeat;
      }
       
       .home p{
          font-style: italic;
        }
      

