/* Style */
body.index {
       background-color: #00bfff;
       font-family: "Verdana", italic, sans-serif;
       
}

/* List style */
ul{
       list-style-type: square;
       list-style-image: url('sqpurple.gif');
       
}
